<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
<!--  1.checkbox单选框-->
  <label for="agree">
    <input type="checkbox" id="agree" v-model="isAgree">同意协议
  </label>
  <h2>你选择的是:{{isAgree}}</h2>
  <button :disabled="!isAgree">下一步</button>

<!--  2.checkbox多选框-->
  <br>
  <input type="checkbox" value="篮球" v-model="hobbies">篮球
  <input type="checkbox" value="足球" v-model="hobbies">足球
  <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
  <input type="checkbox" value="排球" v-model="hobbies">排球
  <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
  <h2>您的爱好是:{{hobbies}}</h2>

</div>
<script src="../vue.js">
</script>
<script>
  const app = new Vue({
    el:'#app',
    data:{
      message:'你好啊',
      isAgree:false,//单选框
      hobbies:[]//多选框
    }
})
</script>


</body>
</html>
